name: tests

on:
  pull_request:
  push:
    branches: [ main, devel ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.11", "3.12"]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: install dependencies
        run: |
          pip install -r requirements.txt
          # pip install -r requirements/development.txt
          ## can we get rid of requirements.txt?
          pip install -r requirements/tests.txt
          pip install -r requirements/lint.txt
      
      # Check that moments installs as expected.
      - name: install moments
        run: |
          pip install .
      
      - name: run pytest
        run: |
          python -m pytest -n auto -v tests

      - name: Test build with build module
        run: |
          python -m pip install build
          python -m build .

      - name: Test pip install from wheel in fresh venv
        run: |
            cd dist
            python -m venv venv
            source venv/bin/activate
            python -m pip install --no-cache-dir ./moments*-*.whl
            python -c "import moments;print(moments.__file__)"
            python -c "import moments;print(moments.__version__)"
            deactivate
            rm -rf venv
