name: Build, test, and deploy wheels

on:
  schedule:
    - cron: "0 0 1 * *"
  release:
    types: [created]
  pull_request:
    branches: [main, devel]
  push:
    branches: [main, devel]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip build

      - name: Build sdist
        shell: bash
        run: |
          python -m build -s .

      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist

  macos-wheels:
    name: Build and test macOS wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-14, macos-13]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.0

      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-wheels
          path: wheelhouse

  manylinux2_28:
    name: Build and test Linux wheels
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.0

      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: linux-wheels
          path: wheelhouse

  manylinux2_28_test:
    name: Build package from source dist
    runs-on: ubuntu-latest
    needs: ['build_sdist']
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Download sdist
        uses: actions/download-artifact@v4.1.4
        with:
          name: sdist
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      
      - name: Install sdist into venv
        run: |
          python -m venv sdist_venv
          source sdist_venv/bin/activate
          python -m pip install --upgrade pip setuptools
          python -m pip install *.gz
          # The cd is to move us away from
          # the project repo root where the module is not built
          cd sdist_venv
          python -c "import moments;print(moments.__version__)"
          deactivate
          rm -rf sdist_venv

  # Test that wheels build in the docker cibuildwheel workflow
  # can be installed on Ubuntu Linux, which is a different distro.
  manylinux2_28_test_install_wheel:
    name: Install the wheel on github runner
    runs-on: ubuntu-latest
    needs: ['manylinux2_28']
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download sdist
        uses: actions/download-artifact@v4
        with:
          name: linux-wheels
      
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      
      - name: install into venv
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --no-cache-dir --only-binary=moments-popgen --pre --find-links . moments-popgen
          python -c "import moments;print(moments.__version__)"
          python -c "import moments;print(moments.__file__)"

  macos_test_install_wheel:
    name: Install the wheel on github runner
    runs-on: ${{ matrix.os }}
    needs: ['macos-wheels']
    strategy:
      matrix:
        python: ["3.12", "3.13"]
        os: [macos-14, macos-13]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download sdist
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.os }}-wheels
      
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      
      - name: install into venv
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install --no-cache-dir --only-binary=moments-popgen --pre --find-links . moments-popgen
          python -c "import moments;print(moments.__version__)"
          python -c "import moments;print(moments.__file__)"
              
  pypi-publish:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    needs: ['manylinux2_28', 'manylinux2_28_test', 'manylinux2_28_test_install_wheel', 'macos_test_install_wheel']
    environment:
      name: pypi
      url: https://pypi.org/p/moments-popgen
    permissions:
      id-token: write
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download all
        uses: actions/download-artifact@v4.1.4
      
      - name: Move to dist
        run: |
          mkdir dist
          cp */*.{whl,gz} dist/.
      
      - name: Publish distribution to PRODUCTION PyPI
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
